.main_page{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5%;
  margin-top: 120px;
}
.main_page_user_image_img{
  width: 300px;
  height: 320px;
  border-radius: 100%;
}
.main_page_desc{
  width: 600px;
  font-size: 22px;
}
.main_page{
  margin-top: 50px;
}
