<header>
  <a mat-button (click)="navigateToEducation()">Home</a>
  <a mat-button href="#test123">Skills</a>
  <a mat-button routerLink="/experiences">Experience</a>
  <a mat-button routerLink="/educations">Education</a>
  <a mat-button routerLink="/certificates">Certificate</a>
  <a mat-button routerLink="/languages">Languages</a>
  <a mat-button routerLink="/projects">Projects</a>
  <a mat-button routerLink="/contacts">Contacts</a>
  <button mat-flat-button color="primary" (click)="navigateToEducation()">Download CV</button>
  <div>
    <div class="header_navbar_socials">
        <a href="#" class="header_navbar_socials_element" target="_blank">
          <img width="40" src="../../../../../assets/icons/github.svg" alt="github">
        </a>
        <a href="#" class="header_navbar_socials_element" target="_blank">
          <img width="40" src="../../../../../assets/icons/linkedin.svg" alt="linkedin">
        </a>
        <a href="#" class="header_navbar_socials_element" target="_blank">
          <img width="40" src="../../../../../assets/icons/telegram.svg" alt="telegram">
        </a>
        <a href="#" class="header_navbar_socials_element" target="_blank">
          <img width="40" src="../../../../../assets/icons/gitlab.svg" alt="gitlab">
        </a>
        <a href="#" class="header_navbar_socials_element" target="_blank">
          <img width="40" src="../../../../../assets/icons/instagram.svg" alt="instagram">
        </a>
      </div>
  </div>
</header>
