<div style="margin-bottom: 100px;">
  <h3 class="project_title">Projects</h3>
  <p class="project_desc">Lorem ipsum dolor sit.</p>
  <div class="project">
    <div *ngFor="let project of projects" class="project_img_card">
      <div>
        <img width="320" src="../../../../../assets/images/IMG_20230204_153927.jpg" alt="img">
      </div>
      <b>{{project.name}}</b>
      <p>{{project.description}}</p>
      <ng-container *ngFor="let skill of project?.skills; let i=index">
        <span *ngIf="i!=0">, {{skill.name}}</span>
        <span *ngIf="i==0">{{skill.name}}</span>
      </ng-container>
      <div class="project_link">
        <a href="{{project.urlToSite}}" target="_blank">Live</a>
        <a href="{{project.urlToCode}}" target="_blank">Code</a>
      </div>
    </div>
  </div>
</div>
